/*red- #ED1B2E*/
/*#A50021*/

body {
	background-color: #ED1B2E;
	scroll-behavior: smooth;
}

#container-main {
    font-family: Helvetica;
    font-weight: lighter;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: left;
    height: fit-content;
    transition: transform 0.3s ease;
    justify-content: space-between;
    gap: 0;
}

#container-left {
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-right {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-align: left;
    height: 100vh;
/*    border: solid black 1px;*/
}

#container-top {
    font-size: 16vw;
    height: 80vh;
/*    display: flex;*/
/*    height: fit-content;*/
}

#intro {
    rotate: 90deg;
/*    border: solid black 1px;*/
    width: fit-content;
}

#container-bottom {
/*    width: 100vw;*/
    font-size: 3vw;
    display: flex;
/*    align-self: flex-end;*/
/*    text-align: right;*/
    flex-direction: column;
    justify-content: flex-end;
/*    justify-content: space-between;*/
/*    height: 20vh;*/
    border: solid black 1px;
/*    justify-content: space-evenly;*/
}

#container-nav {
    display: flex;
/*    align-items: flex-end;*/
/*    justify-self: flex-start;*/
    justify-content: space-between;
    flex-direction: row;
    justify-self: center;
/*    gap: 1vw;*/
    width: 40vw;
/*    margin-bottom: 3vw;*/
        border: solid black 1px;
}

.nav {
    font-size: 2vw;
/*    margin-left: 3vw;*/
    text-decoration: none;
    color: black;
    display: inline-block;
        border: solid black 1px;
    position: relative;
}




.nav::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav:hover {
    color: white;
    transition: transform 0.25s ease-out;
}