/*red- #ED1B2E*/
/*#A50021*/

body {
	background-color: #ED1B2E;
	scroll-behavior: smooth;
}

#container-main {
    font-family: Helvetica;
    font-weight: lighter;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    transition: transform 0.3s ease;
}

#container-left {
    width: 70vw;
    font-size: 20em;
}

#container-right {
    width: fit-content;
    font-size: 5vw;
    justify-self: flex-end;
    align-self: flex-end;
    text-align: right;
}